@charset "UTF-8";

.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.caixa1 {
    background-color: lightcoral;
    border: 1px solid black;
    text-align: center;
    align-content: center;

    grid-area: 1 / 1 / 2 / 5;
}

.caixa2 {
    background-color: lightpink;
    border: 1px solid black;
    text-align: center;
    align-content: center;

    grid-area: 2 / 1 / 4 / 3;
}

.caixa3 {
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
    text-align: center;
    align-content: center;

    grid-area: 2 / 3 / 4 / 5;
}